<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Information Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Information website</h2>

    <table border=1>
	  <tr>
	  <th>Info ID</th>
	  <th>Subject</th>
	  <th>Description</th>
	  <th>Submit Date</th>
	  <th>Modified Date</th>
	  <th>Technology Category</th>
	  <th>Technology Type</th>
	  <tr th:each="info : ${infos}">
        <td th:text="${info.id}">1</td>
        <td th:text="${info.subject}">1</td>
        <td th:text="${info.description}">1</td>
        <td th:text="${info.submitDate}">1</td>
        <td th:text="${info.modifiedDate}">1</td>
        <td th:text="${info.technology.category}">1</td> <!--  
        <td th:text="${info.technology.technologyType}">1</td>-->
      </tr>
      
	</table>
    
</body>
</html>