<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Information Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Information website</h2>

    <table border=1>
	  <tr>
	  <th>Problem ID</th>
	  <th>Problem</th>
	  <th>Reason For Problem</th>
	  <th>Solution</th>
	  <th>Submit Date</th>
	  <th>Modified Date</th>
	  <th>Technology Category</th>
	  <th>Technology Type</th>
	  <tr th:each="problem : ${problems}">
        <td th:text="${problem.id}">1</td>
        <td th:text="${problem.problem}">1</td>
        <td th:text="${problem.reasonForProblem}">1</td>
        <td th:text="${problem.solution}">1</td>
        <td th:text="${problem.submitDate}">1</td>
        <td th:text="${problem.modifiedDate}">1</td>
        <!--  <td th:text="${problem.technology.category}">1</td>
        <td th:text="${problem.technology.technologyType}">1</td> -->
      </tr>
      
	</table>
    
</body>
</html>