<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Information Client Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Information Client website</h2>
	<a href="addTechnology"> Add Technology </a> <br><br>
	<a href="listAllTechnology"> List Technology </a> <br><br>
	<a href="addInfo"> Add Information </a> <br><br>
	<a href="listAllInfo"> List Information</a> <br><br>
	<a href="addProblem"> Add Problem</a> <br><br>
	<a href="listAllProblem"> List Problems </a> <br><br>
</body>
</html>