<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Information Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Information website</h2>
	<a href="html/addTechnology.html"> Add Technology </a> <br><br>
	<a href="listAllTechnology"> List Technology </a> <br><br>
	<a href="html/addInfo.html"> Add Information </a> <br><br>
	<a href="listInfo.htm"> List Information</a> <br><br>
	<a href="html/addProblem.html"> Add Problem</a> <br><br>
	<a href="listProblem.htm"> List Problems </a> <br><br>
</body>
</html>